# Python
__pycache__/

# DS Store
.DS_Store

.idea
.vscode

.venv

# C extensions
*.so
*.dylib
*.cpp

# Distribution / packaging
setup.py
poetry.lock
init
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/
.pytest_cache/
report.xml

# IPython Notebook
.ipynb_checkpoints
*.ipynb

# Data
*.csv
*.xls
*.xlsx
*.pkl
*.jpg
*.png
*.html
*.pickle
*.joblib
*.pdf
/data/

# MkDocs output
docs/reference
site/
public/
