[tool.poetry]
name = "edspdf"
version = "0.5.0"
description = "Smart text extraction from PDF documents"
authors = [
    "Basile Dura <basile.dura-ext@aphp.fr>",
    "Alice Calliger <alice.calliger-ext@aphp.fr>",
    "Perceval Wajsburt <perceval.wajsburt-ext@aphp.fr>",
]
license = "BSD-3"
readme = "README.md"
homepage = "https://datasciencetools-pages.eds.aphp.fr/edspdf/"
repository = "https://gitlab.eds.aphp.fr/datasciencetools/edspdf/"
documentation = "https://datasciencetools-pages.eds.aphp.fr/edspdf/"

[tool.poetry.dependencies]
python = ">=3.7.1,<3.11"
loguru = "^0.6.0"
pandas = "^1.2"
scikit-learn = "^1.0.2"
"pdfminer.six" = "^20220319"
pydantic = "^1.2"
catalogue = "^2.0.7"
thinc = "^8.0.15"
scipy = "^1.7.0"
pdf2image = "^1.16.0"
networkx = "^2.6"

[tool.poetry.dev-dependencies]
black = "22.6.0"
flake8 = ">=3.0"
pre-commit = "^2.18.1"
pytest = "^7.1.1"
pytest-cov = "^3.0.0"
mike = "^1.1.2"
mkdocs-bibtex = "^2.0.3"
mkdocs-gen-files = "^0.3.4"
mkdocs-literate-nav = "^0.4.1"
mkdocs-material = "^8.2.8"
mkdocstrings = "^0.18.1"
mkdocstrings-python = "^0.6.6"
streamlit = "^1.8.1"
mypy = "^0.950"
mkdocs-glightbox = "^0.1.6"
mkdocs-autorefs = "^0.4.1"

[tool.interrogate]
ignore-init-method = true
ignore-init-module = true
ignore-magic = false
ignore-semiprivate = false
ignore-private = false
ignore-property-decorators = false
ignore-module = true
ignore-nested-functions = false
ignore-nested-classes = true
ignore-setters = false
fail-under = 10
exclude = ["docs", "build", "tests"]
verbose = 0
quiet = false
whitelist-regex = []
color = true
omit-covered-files = false

[tool.pytest.ini_options]
testpaths = [
    "tests",
]

[tool.mypy]
plugins = "pydantic.mypy"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
